[2014-07-29 05:56] Tvaroh opened #1 "Move data structures to separate repository"

[2014-07-29 12:21] nstadigs opened #2 "Q: How would you keep your data operations DRY in a more complex example?"
Hi!

In your example all the data operations are made within the components themselves. But lets say that we want to have multiple ways of adding an item to a list for example. In this case we would not like to copy-paste that logic into that other component.

In the Flux architecture the stores themselves would be responsible for doing the right thing depending on the the type of action we would

[2014-07-29 13:39] #2 closed, assigned to nobody

[2014-07-31 15:49] Tvaroh opened #3 "Migrate on Facebook's Immutable library"

[2014-07-31 15:50] #1 closed, assigned to Tvaroh

[2014-07-31 17:54] #3 closed, assigned to Tvaroh

[2014-08-04 21:55] nstadigs opened #4 "Add example covering how to handle server persistence."
With failure handling.

I looked at the documentation for Om, and they seem to handle this by exposing some kind of stream of state changes.

[2014-08-08 09:01] Tvaroh opened #5 "Add requestAnimationFrame-friendly wrappers around input, textarea, and option"
Like Om does.

[2014-08-08 10:40] #5 closed, assigned to nobody

[2014-08-12 05:58] mbektimirov opened #6 "What is the proper way to work with REST api?"
I am interesting in how to implement async server communication and state management with Morearty. I think there are two possible ways to update state:
- make ajax calls inside the concrete component
- manage all ajax calls at the root level (like in Flux)

Do you have any working approach for this issue in your company?

[2014-08-22 16:06] tgriesser opened #9 "CommonJS / splitting modules"
Currently, you're using require.js style defines for the project and to that end everything is pretty tightly coupled. There could are several independent components in the project that might be useful to use standalone (Transaction / Binding / Util), but it's not possible to require these individually on the server as independent modules without loading in a Require.js implementation.

Would you

[2014-08-24 18:28] #9 closed, assigned to nobody

[2014-08-25 07:40] #4 closed, assigned to nobody

[2014-08-25 14:29] bismigalis opened #11 "How to define component in module other than main app module"
Hi!

I use CommonJS style modules and Webpack.

I define Ctx in app.js, then I want define my component in other file, but I need Ctx for that.
How I can get Ctx there?

[2014-08-31 13:41] #11 closed, assigned to nobody

[2014-09-03 03:05] tgriesser opened #12 "Replace part of subpaths with cursors"
Now that Immutable has very nicely built-in cursor support, it might be useful to see what can be leveraged from their end (cursor primitive) to simplify what's then handled by morearty (events / transactions).

https://github.com/facebook/immutable-js/issues/72
https://github.com/facebook/immutable-js/issues/82

[2014-09-06 15:04] klimashkin opened #13 "Use with react-router"
Hello! Is it possible to use morearty with [React Router](https://github.com/rackt/react-router)?

[2014-09-12 10:31] mbektimirov opened #14 "Unable to update binding from root"
If a binding is created on some object or without it, I couldn't update it from root and replace the entire value with new one:

[code]

[2014-09-12 14:10] #14 closed, assigned to nobody

[2014-09-14 11:37] Laurian opened #15 "how to work with localStorage?"
I would love any ideas on how to store the state in localStorage, the https://www.npmjs.org/package/react-localstorage does it per component, I guess that in Morearty that should be done in the Context object?

[2014-09-15 10:13] mbektimirov opened #16 "Allow batch transaction commit"
Using  `TransactionContext.commit` assumes batch update of underlying data. Now if I made 5 changes inside a transaction I'll receive 5 listener notifications on commit. Desirable behavior: get one listener notification with old and new data. It may be customizable as `commit({batch: true})`, but I think it should be default behavior, like the classic [Atomic transaction](http://en.wikipedia.org/w

[2014-09-15 19:34] #16 closed, assigned to nobody

[2014-09-17 20:12] Tvaroh opened #17 "Add sub-bindings cache"
To minimize memory footprint, creating same sub-binding twice should produce same Binding instance.

[2014-09-17 20:41] Tvaroh opened #18 "Don't fail on React render errors"
Morearty should log and keep working on errors during root component's `forceUpdate` method call.

Add configuration property to set the behavior (log and continue by default).

[2014-09-18 08:42] mbektimirov opened #19 "Provide clean context free build of all app modules"
It is hard to use Morearty in own libraries because all its modules directly depend on Immutable. I can't require some Morearty module without passing a context inside my lib. Two things to note here:
- Immutable should be required as a normal npm module with `require('immutable')`
- provide normal non minified build with splited modules

[2014-09-18 16:30] #18 closed, assigned to nobody

[2014-09-18 16:31] #17 closed, assigned to nobody

[2014-09-25 11:37] #19 closed, assigned to nobody

[2014-10-02 08:31] mbektimirov opened #22 "index.js and dist/morearty.js are not in npm package"
Something like this:
![2014-10-02 14 30 34](https://cloud.githubusercontent.com/assets/918009/4488493/6a9ecdd6-4a0e-11e4-9de0-b7eccd6b399a.png)

[2014-10-02 09:05] #22 closed, assigned to Tvaroh

[2014-10-24 17:12] #12 closed, assigned to nobody

[2014-11-03 23:18] rektide opened #25 "Request for Info: how does Morearty determine which bindings a component uses?"
Hi. When we render a component, how does Morearty understand what bindings the component consumes?

Ideally we'd like to pass in a fairly high level sub-binding and pick and choose the refined sub-bindings that we actually want. We're not sure if this is ok. We're also looking at passing multiple-subbindings in to a component (via secondary props). Is this ok?

Currently we don't understand where

[2014-11-03 23:31] rektide opened #26 "Enhancement: React Developer Tools debuggability of bindings"
The React Developer Tools have the excellent & astounding capability of viewing React state. However in Morearty state is diffused into the context.

I would like to see some means to add traceability back into the developer tools. This means that components need some way to expose which sub-bindings they hold and use, such that developer tools can introspect and present the bound data.

[2014-11-04 18:34] #25 closed, assigned to nobody

[2014-11-13 19:07] joIivier opened #27 "Inconsistent context documentation"
From the context documentation I can read in the 'Big picture' section

And in 'Checking if state node is changed' section:

This seem contradictory to me, unless the ctx.isChanged is not the method used in `shouldComponentUpdate` or I missed something.

[2014-11-13 19:49] #27 closed, assigned to nobody

[2014-11-16 13:18] gdeb opened #28 "Server side rendering"
I tried unsuccessfully to render my application serverside (nodejs).  It fails because morearty does its work asynchronously (I think).  A two line change in Morearty.js (disabling the renderroutine and returning the result) works in my case.

So, I suggest to allow synchronous rendering serverside.  I have actually no idea if that would break stuff (but if Morearty rendering its markup asynchrono

[2014-11-23 14:52] nb opened #30 "Typo in “Bootstrapping the app” wiki page"
In the sentence: “`App` is just an ordinary Morearty component:”, but you probably meant “`App` is just an ordinary **React** component:”.

[2014-11-24 11:05] #30 closed, assigned to nobody

[2014-11-24 22:50] kristoferjoseph opened #31 "Flux example"
Since Flux is the FB recommended way to architect React apps do you feel that an example of how to integrate morearty with Flux would be beneficial?

[2014-11-27 08:23] #31 closed, assigned to nobody

[2014-12-01 23:09] joIivier opened #32 "Context apparently not synchronized when calling twice bootstrap"
I want to debug the full state of my application, so I did the following:

[code]

But when I use myApp and change state my debug component is not updated and still prints me the initial state. Is it expected? What should I do to be able to view a part of the state in another part of my document?

[2014-12-10 16:01] joIivier opened #33 "Create new paths in Context"
I want to add new paths in my context instead of just changing leaf values, so for instance my initial context is:

[code]

When I add a component, I want the context to be

[code]

To do so I tried doing

[code]

Which does not rerender my views, so I tried

[code]

this correctly rerender my views; but then the object I passed as value is not converted to an immutable map and later calls to `con

[2014-12-10 16:12] #33 closed, assigned to nobody

[2014-12-10 22:29] joIivier opened #34 "Agressive root component render seem to break React diff"
I added a simple text input with a two-way data binding of the form (this is ES6 but nothing fancy):

[code]

The issue I had was that each time I typed something in that input I would loose the focus, which meant for me that React recreated this DOM node although it shouldn't have.
I fixed this by changing Context.bootstrap and moved

[code]

outside of the render method, directly in the bootstra

[2014-12-11 18:07] gilbox opened #35 "When are explicit transactions appropriate?"
(Emphasis mine)

It seems silly to me to add `atomically()`/`commit()` if they don't actually do anything anymore. Am I missing something? What are the specific use cases?

[2014-12-13 01:03] #15 closed, assigned to nobody

[2014-12-15 02:38] #35 closed, assigned to nobody

[2014-12-16 03:40] gilbox opened #36 "Dynamic Component Binding?"
I'm trying to optimize `shouldComponentUpdate` by only binding to the data that really matters...

**Am I not supposed to use a binding whose path is always changing?** For example, my `render` function looks something like this:

[code]

So I am binding to `currentChartIndexBinding` because the chart index might change. But even if the chart index doesn't change, the data in the current chart mig

[2014-12-22 00:10] honzatrtik opened #37 "Allow passing custom react context in context.bootstrap()"
Something like

[code]

would be very usefull...

[2014-12-26 06:19] ericfong opened #38 "Can we persistent data in client side?"
If yes, what is the best function to get eh json data?

[2014-12-26 13:22] #38 closed, assigned to nobody

[2014-12-31 15:02] #37 closed, assigned to nobody

[2014-12-31 15:02] #36 closed, assigned to nobody

[2014-12-31 15:07] #34 closed, assigned to nobody

[2014-12-31 15:08] #32 closed, assigned to nobody

[2014-12-31 15:09] #6 closed, assigned to nobody

[2015-01-05 08:46] honzatrtik commented on #37
Yes, thank you very much!

[2015-01-06 00:49] aholik opened #39 "Meta info set error"
The following snippet was working with version 0.7.4:

[code]

With v0.7.5 it fails when setting meta value:

[code]

[2015-01-06 06:22] Tvaroh commented on #39
Thanks, will look into this asap.

[2015-01-06 12:33] Tvaroh commented on #39
@aholik pass initial meta info as a second argument to `createContext` like this:

[code]

This parameter is [required](https://rawgit.com/moreartyjs/moreartyjs/master/doc/Morearty.html#createContext) and unfortunately I can't make it optional since following `options` parameter is also an optional object. It was working in the previous version by a coincidence.

I've added saner arguments checks

[2015-01-06 12:33] #39 closed

[2015-01-06 13:55] aholik commented on #39
Thanks for the quick response. Please correct the [app bootstrapping](https://github.com/moreartyjs/moreartyjs/wiki/Bootstrapping%20the%20app#creating-context) wiki as well. Thanks again.

[2015-01-06 16:22] Tvaroh commented on #39
Nice catch, thanks!

[2015-01-07 12:09] andru opened #40 "ReactCSSTransitionGroup causes: Error: Invariant Violation: findComponentRoot"
Using Morearty 0.7.4 (sorry, npm is giving me trouble trying to update to 0.7.5)

Is React `CSSTransitionGroup` supported? If not, are there alternatives for in/out transitions?

When I wrap my elements in a React `CSSTransitionGroup`, I get the following error:

[code]

Just incase it's a bug, I should add that my document ids contain `.` characters, which has caused me a headache or two elsewher

[2015-01-07 12:22] andru commented on #40
Managed to update to `0.7.5` and now the error is just:

[code]

[2015-01-08 10:29] kapooostin opened #41 "Initial state for meta binding difficulties"
I'm trying to setup meta for binding together with initial state of the app:
[code]
Then inside App component in `render` method:
[code]

What am I doing wrong? The meta binding itsef contains this data, I can see it in Chrome Inspector.

[2015-01-08 10:52] Tvaroh commented on #41
Hello.

Meta binding uses format like this:

[code]

Meta argument probably wasn't meant to be hand-crafted but serialized from existing meta binding populated by the app. So, if you want to create meta-state manually you need to use the format above.

[2015-01-08 10:58] Tvaroh commented on #41
I will update the wiki to reflect this info.

[2015-01-08 12:22] kapooostin commented on #41
Great, thank you!

[2015-01-08 12:22] #41 closed

[2015-01-08 17:07] Tvaroh commented on #40
@andru thanks for the report.

Actually, I don't know right now, I need to investigate how this stuff works. Will look into that.

[2015-01-09 10:56] andru commented on #40
@Tvaroh trying to get a jsFiddle up, but morearty is giving weird errors - is there a CDN copy anywhere? I don't see it on cdnjs.

[2015-01-10 10:58] mataps opened #42 "Multiple component mounting"
I'm planning to try moreartyjs, quick question. Is it possible to use the same context when mounting multiple components?
Something like.

[code]

[2015-01-10 11:10] Tvaroh commented on #42
Hello.

If I understand correctly, this question is similar to #32. To do this just add `copy()` before any additional `bootstrap` method call:

[code]

[2015-01-10 16:58] mataps commented on #42
thanks :) . Nice work!

[2015-01-10 16:58] #42 closed

[2015-01-11 20:04] andru commented on #40
I can't isolate this behaviour, but nor am I having any success at getting rid of it in my application code. I suggest this gets closed for now; if I can reproduce it as a bug in Morearty I'll follow it up later.

[2015-01-11 20:24] Tvaroh commented on #40
@andru great, thank you.

[2015-01-14 18:52] lukasbuenger opened #44 "Not really an issue: Thank you!"
Hey Alexander & Co.

This is really a GitHub issue only for the lack of any other possibility to reach out to you guys. Here's this:

I just wanted to thank you for providing this awesome library. The way you approach things is really inspiring and on top of that Morearty leverages a lot of my daily work. Your claim to  "simplify reasoning about the application and improve performance" really does

[2015-01-15 06:44] tume commented on #13
Any updates on this? I have been also looking for a good router. Would be nice to at least have more real-world examples how to do that (todomvc with director is kind of too simple).

[2015-01-15 09:11] aholik commented on #44
+1
Thank you guys for this amazingly simple but awesome library.

[2015-01-15 14:33] Tvaroh commented on #44
Thank you so much for these kind words from everyone involved. Very touching. :)

[2015-01-15 17:06] Tvaroh commented on #44
By the way you can reach us in Gitter [chat](https://gitter.im/moreartyjs/moreartyjs).

[2015-01-16 21:43] aholik opened #45 "List item binding deletion - meta value out of sync"
When deleting a list item which has an assigned meta value, the meta value wont deleted. Instead it will bound to the same index:

[code]

Is this by design? In my interpretation meta bindings are depend on their parent binding, so when deleting a binding I expect it's meta binding to be deleted, too.

[2015-01-16 22:33] mbektimirov commented on #45
It is by design now, but you're right, it works not as expected by default. Meta is just another instance of additional state. We will discuss another approaches to work with meta, thank you.

[2015-01-17 08:54] aholik commented on #45
Yeah, I suspected it is not a bug. However than the api is not consistent, I mean when deleting a mapping node on some path the operation will remove the meta binding on the same path, too.

Anyway, I can live with it now with explicitly removing list item metas. Thanks.

[2015-01-17 13:52] Tvaroh commented on #45
Yep, this is to simplify implementation and improve performance. Can you clarify what you mean by deleting a mapping node?

[2015-01-17 14:24] aholik commented on #45
Sure, sorry, I used an inappropriate term here. I meant when you delete a key of a Map which has a meta binding attached, the meta binding won't exist on the same path after deletion.

But now after verifying my assumptions it turned out I was wrong:
[code]

So, the api is consistent, it seems that my impressions came from that my codes were working as expected only by coincidence.

[2015-01-17 16:02] Tvaroh commented on #45
Yes, that's correct. State and meta-state are never synchronized automatically.

[2015-01-19 07:37] Tvaroh commented on #45
Wiki [updated](https://github.com/moreartyjs/moreartyjs/wiki/Binding#attaching-meta-information). Since this behavior is by design let's close this.

[2015-01-19 07:37] #45 closed

[2015-01-19 07:48] aholik commented on #45
Great, thank you!

[2015-01-21 23:08] gilbox opened #46 "npm bug?"
Has anyone seen this?

    npm install morearty -S
    rm -rf node_modules/
    npm install

      npm ERR! peerinvalid The package immutable does not satisfy its siblings' peerDependencies requirements!
      npm ERR! peerinvalid Peer morearty@0.7.7 wants immutable@~3.5.x

Modifying the package.json from ` "immutable": "^3.5.0",` to ` "immutable": "~3.5.0",` fixes it

[2015-01-22 02:40] jotto opened #47 "suggested patterns for updating matching objects in different parts of the binding/tree"
With a binding/tree that has the same object in multiple places, are there any suggested patterns for updating the matching objects?

example:
[code]

Now blog.user no longer matches comment.user, but what if we wanted those identical `comment.user` and `blog.user` immutable objects to be simultaneously updated?

[2015-01-22 06:30] Tvaroh commented on #47
Hello. You can [atomically update](https://github.com/moreartyjs/moreartyjs/wiki/Binding#transactions-and-chaining) binding values:

[code]

[2015-01-22 20:30] Tvaroh commented on #13
Experimenting with this in the linked issue thread. In progress for now.

[2015-01-22 20:31] Tvaroh opened #48 "Implement something similar to Om's reference cursors approach"
Reference cursors: https://github.com/swannodette/om/wiki/Advanced-Tutorial#reference-cursors

[2015-01-23 11:58] Tvaroh commented on #48
Released in 0.7.8.

[2015-01-23 11:58] #48 closed

[2015-01-23 11:59] Tvaroh opened #49 "Publish to cdnjs"

[2015-01-23 13:02] #28 closed

[2015-01-23 13:02] #40 closed

[2015-01-23 18:19] Tvaroh commented on #46
Is it reproducible with 0.7.8 version as well?

[2015-01-23 21:21] gilbox commented on #46
Seems to be OK with 0.7.8.

[2015-01-23 21:21] #46 closed

[2015-01-26 21:36] gilbox opened #50 "Observed binding documentation"
binging --> binding

[2015-01-26 21:39] gilbox opened #51 "IE8 Support?"
What is the intended level of IE support? immutable.js seems to support IE8 with es5shim.

- If I submit an IE8 bug report will anyone pursue it?
- If I submit an IE8 bug fix will it be seriously considered?

I haven't done any IE8 testing yet, just wondering what's on the roadmap.

[2015-01-27 06:20] Tvaroh commented on #50
Thanks, Gil. It's now corrected.

[2015-01-27 06:20] #50 closed

[2015-01-27 08:51] Tvaroh commented on #51
IE8 doesn't support Array.prototype.map/filter and so on. I think supporting IE9 and higher would be more reasonable. Do you really need IE8 supported?

[2015-01-27 15:29] gilbox commented on #51
es5shim takes care of map, filter, etc. If it was up to me evergreen browsers would be the only support I *need*... unfortunately it's not up to me.

[2015-01-27 17:34] Tvaroh commented on #51
Theses changes are trivial, I will push 'em tomorrow. Also it's a good idea to have `remove` synonim for `delete`.

[2015-01-27 17:36] Tvaroh commented on #51
By the way you can create pull request if you like.

[2015-01-27 18:58] gilbox commented on #51
https://github.com/moreartyjs/moreartyjs/pull/52

[2015-01-29 11:18] Tvaroh commented on #51
Published in 0.7.9.

[2015-01-29 15:22] cesarp opened #53 "Authoring components default state publication typo"
The wiki tells us to use Morearty.MERGE_STRATEGY but is wrong, it should be Morearty.MergeStrategy.

[2015-01-29 16:59] Tvaroh commented on #53
Good catch! It's now fixed. Thank you.

[2015-01-29 17:18] gilbox commented on #51
:dancers:

[2015-01-29 17:18] #51 closed

[2015-01-29 19:18] Tvaroh commented on #47
@jotto has it worked for you?

[2015-01-30 16:34] jotto commented on #47
@Tvaroh, yes - that definitely works. Than you.

I was hoping someone had devised a pattern or best practice for keeping matching objects all over the tree in sync without managing them manually.

[2015-01-30 20:46] #53 closed

[2015-02-02 22:59] andru commented on #44
While this is still open, let me add a +1. Morearty is awesome. I can't imagine React without it anymore.

Thanks!

[2015-02-09 19:18] mmorearty opened #55 "I'm so flattered!"
All I can say is, I *love* the name of your project ;-)

[2015-02-09 19:27] BMorearty commented on #55
Me too. Awesome name. :metal:

[2015-02-11 20:10] gilbox opened #56 "Object.freeze on prototype before adding delete property"
I had an error (which isn't actually an issue anymore) crop up in therubyracer (v8 engine) after nuking `node_modules/` which lead me to the `Object.freeze`ing of prototypes. [My PR](https://github.com/moreartyjs/moreartyjs/commit/1b74515ff37e0be8d87fff8a1da0e97f2032b9fb#diff-0bb262c0cfb1290fef6a4c294443b323R549) added the `delete` property on the prototype *after* [the freeze](
https://github.com

[2015-02-12 12:27] Tvaroh commented on #56
Since tests test only `remove` method, the absence of `delete` probably wasn't noticed. :)

[2015-02-12 16:55] gilbox commented on #56
Thanks. I'll increase the test coverage and fix it.

[2015-02-12 16:55] #56 closed

[2015-02-13 00:22] gilbox opened #58 "Serializing application state"
I don't have a reproducible dataset right now, but thought I'd mention that [the transit.js code provided in the wiki](https://github.com/moreartyjs/moreartyjs/wiki/Serializing%20application%20state) did not work for me.

I ended up creating a much simpler (possibly less efficient) version of the code which seems to work much more consistently, although it doesn't include an `arrayBuilder`. This i

[2015-02-14 09:59] Tvaroh commented on #58
What errors did you have with the code from wiki? Maybe something has changed in transit-js itself. Which versions are you using?

[2015-02-14 20:07] gilbox commented on #58
I will try to do some tests and get back to you. The most obvious problem is the OrderedMap implementation:

     Imm.OrderedMap, Transit.makeWriteHandler({
        tag: function () { return 'orderedMap'; },
        rep: function (v) { return v.toArray().filter(function (x) { return x; }); },
        stringRep: function () { return null; }
      })

It will represent the following map:

      var

[2015-02-15 17:57] gilbox commented on #58
Here's an example that returns non-immutable data in the case of both pure immutable input and mixed input. Not exactly what I expected...

http://jsbin.com/zikide/1/edit?js,console

[2015-02-24 13:10] p14n opened #59 "Req for info: testing with jest"
Hi, I'm trying to start a simple test using jest and TestUtils, but I'm clearly doing it wrong as I'm dropping into an infinite loop (test fails with max call stack exceeded):
[code]
The TopHeader component for completeness:
[code]
I'm assuming the approach is wrong - any advice gratefully received.  If it looks like the right approach I'll do some more digging in to the problem.

Cheers,
Dean

[2015-02-24 15:08] gilbox commented on #59
I've been wondering how others have been testing with Morearty as well. fwiw, here is my working approach

Ideally, I'd like my test to be as simple as...

[code]

It can be achieved with the following function:

[code]

It works for simple use cases, unfortunately for complex usage it fails because no bootstrap means no morearty [context](https://www.tildedave.com/2014/11/15/introduction-to-conte

[2015-02-24 15:21] p14n commented on #59
Cheers, I'll give that a go.

[2015-02-25 09:18] p14n commented on #59
All works well, thanks.  Jest is fast for me - I only have a couple of components at the moment but it's 2s from save to test results using watch.  Or maybe you have a 100ms feedback loop?

[2015-02-25 09:20] p14n commented on #59
Oh, and the infinite loop was me passing a binding instead of a value into the component:
[code]

[2015-02-25 16:28] gilbox commented on #59
Startup time doesn't concern me too much. I just leave Jasmine running. Currently I have 70 tests, just ran them all in `0.287s` (most of the tests are for components using Morearty). There's [a long-open issue about Jest slowness](https://github.com/facebook/jest/issues/116), if you solve it I'm sure many would benefit.

[2015-02-26 00:54] jbe456 opened #60 "Ability to copy a context on a sub state only"
**The use case:**
All my components does not share the same ancestors. Thus I have to bootstrap multiple  components. I do so by using `Ctx.copy()` method. But some component are only related to a sub part of the global state. And because the Ctx is always associated to the global state, this component will re-render everytime there is a modification in the state regardless if this modification is

[2015-02-26 01:15] jbe456 opened #61 "Custom functions undefined after bootstraping the react class"
**The issue:**

The current `bootstrap` function wrap the given root component into another React class:
[code]

The consequence is that any function defined in the `rootComp` object is not available after the bootstrap, although it is the case if you simply create the react class.

More precisely, if `A` is your initial object and the following method is defined `A.mymethod`, then `mymethod` will

[2015-02-26 11:04] Tvaroh commented on #60
Thanks for the report. I see no problems adding `subpath` arg to `copy`. Will include this in the next minor release.

[2015-02-27 21:20] jbe456 commented on #60
I just ran into an issue with the `isChanged` method from the binding.

[code]

The children are now re-rendered everytime because `shouldComponentUpdate` returns true
[code]

The issue is that the binding still have the absolute path, whereas the `alternativeBackingValue`has now only a sub part of the state (because it comes from a context looking only at a subpart of it). Thus, this `alternative

[2015-02-28 16:45] gilbox commented on #60
+1 re: broken shouldComponentUpdate... do you have a fix @jbe456 ?

[2015-03-01 04:50] gilbox commented on #61
We already have to add `Morearty.Mixin` to every component, maybe instead of doing it in the `bootstrapObject` function, require that the user add `Morearty.BootstrapMixin` instead of `Morearty.Mixin` to any component that will be bootstrapped.

[2015-03-01 07:27] gilbox commented on #60
I'm unable to make a test that demonstrates a `shouldComponentUpdate` bug with a normal binding. However I was able to fashion **[a unit test with a meta binding that incorrectly calculates `shouldComponentUpdate`](https://github.com/gilbox/moreartyjs/commit/14fdb41a39b8fc4aa73c90190278b0b4a241dbc2)**... But isn't a meta binding just a subset of a regular binding?. Or maybe I'm misunderstanding ho

[2015-03-01 07:34] gilbox opened #62 "shouldComponentUpdate bug with meta() binding"
This discussion started [here](https://github.com/moreartyjs/moreartyjs/issues/60#issuecomment-76473766)...

 I'm unable to make a test that demonstrates a `shouldComponentUpdate` bug with a normal binding. However I was able to fashion **[a unit test with a meta binding that incorrectly calculates `shouldComponentUpdate`](https://github.com/gilbox/moreartyjs/commit/14fdb41a39b8fc4aa73c90190278b0b

[2015-03-02 16:00] jbe456 commented on #61
That could be a possibility. The drawback is that in some case, when you create a component, you don't necessarily know if you will be using it as a root component, a regular one or both... so to me it's the same problem as the first alternative.

[2015-03-02 16:32] Tvaroh commented on #61
By the way, `bootstrap` method is just a helper, you're not forced to use it.

[2015-03-03 11:03] honzatrtik opened #63 "Problem with Morearty.Mixin & observeBinding in nested components"
Hello @Tvaroh,
I have two components - parent & child, both of them are mixing in Morearty.Mixin, child uses this.observeBinding for triggering render, but nothing happens if binding changes. If I remove  Morearty.Mixin from parent, everything works.
Is this expected behaviour or bug?

Please, see this gist: https://gist.github.com/honzatrtik/481fc2d3bd82d28d48e8

Anyway, thank you for your awesom

[2015-03-03 12:13] Tvaroh commented on #63
Hello, @honzatrtik.

Thanks for the report and your kind words.

I think you've touched limitations of observed bindings that I forgot to mention in wiki. The problem is that parent knows nothing about it's children's bindings. So, if it doesn't care about some binding that is 'observed' by its child, parent's `shouldComponentUpdate` will just return `false` and the rendering will stop.

Can you s

[2015-03-03 12:23] Tvaroh commented on #63
I've update the [wiki](https://github.com/moreartyjs/moreartyjs/wiki/Authoring-components#observed-bindings-limitations).

[2015-03-03 12:38] honzatrtik commented on #63
Yes, your explanation makes sense. Thank you!

[2015-03-03 12:41] Tvaroh commented on #63
Could you check this in your scenario?

[2015-03-03 13:04] honzatrtik commented on #63
Yup, each of the ancestors must either observe all bindings as child component or didnt mix in Morearty.Mixin (provided that `shouldComponentUpdate` is not overriden).

Maybe `observeBinding` could save reference to component and invoke forceUpdate, but it kinda breaks top-down rendering philosophy...

[2015-03-03 17:55] gilbox commented on #63
My coworker [dirtyrottenscoundrel[(https://github.com/dirtyrottenscoundrel) looked at how om implements this. It does bookkeeping on all reference bindings and does a pass over all changed ref cursors after each render of the root component completes. I think this is actually something that you could achieve with a mixin but it would be nice to work it into morearty itself.

The alternative is to

[2015-03-03 18:14] Tvaroh commented on #63
@gilbox, interesting. How does it resolve the current limitation I described above?

[2015-03-03 19:21] gilbox commented on #63
- There is a `ref queue`.
- Every component with a reference binding attaches an observer to the binding.
- Whenever the observer detects a change, it pushes something like `{ component: this, binding: binding }` into the queue.
- Then, on the next animationFrame render(), it renders root component which renders the entire render tree.
- After render tree is completely rendered (the usual way), it

[2015-03-03 19:46] Tvaroh commented on #60
I have pushed optional subpath support. Seems to work fine. @jbe456 could you try and confirm that is works in your scenario? You'll need to build manually using `npm run build`.

[2015-03-04 10:30] Tvaroh commented on #62
Gil, can you confirm it's working fine now?

[2015-03-04 10:38] Tvaroh commented on #63
Thanks, Gil. By the way Morearty also checks all bindings, including observed ones, in `shouldComponentUpdate`. Probably we can incorporate this stuff in the near future.

I see this like so:

1. when rendering components which have observed bindings, these components should be registered by putting to some structure within context;
2. after each render Morearty should call `forceUpdate` on regist

[2015-03-04 21:21] gilbox commented on #62
Everything looks good so far. Tests pass and no more bugs related to this in my project. Nice work! :+1:

[2015-03-04 21:21] #62 closed

[2015-03-06 18:12] gilbox commented on #63
It seems strange for  `shouldComponentUpdate` to check observed bindings currently, since during top-down re-render it won't effect the return value of `shouldComponentUpdate` calls. But I guess you did this for when someone calls `setState` ?

[2015-03-07 08:06] Tvaroh commented on #63
Gil, can you clarify why checking observed bindings want affect SCU?

[2015-03-07 08:40] gilbox commented on #63
I was going to say: *because the only bindings that will effect SCU will always be a subset of the bindings in `this.props.binding`*. But I just realized that's not true: The only bindings that will effect SCU will always be a subset of the bindings in the **parent** component.

[2015-03-07 22:59] gilbox commented on #63
A more detailed idea dump.. how ref bindings might be implemented in morearty. The idea is to modify Context and Mixin pieces of Morearty.

- Let morearty Context instance hold a hash of ref bindings (indexed by path)
- each ref binding holds a hash of components (indexed by component id)
- each component holds an array of ref bindings
- on component mount/unmount,
    1. add each ref binding for

[2015-03-15 08:41] dfguo commented on #59
@gilbox where is the best place to include mockBinding and mockRender so that all jest tests will have them? Thanks!

[2015-03-15 12:56] gilbox commented on #59
I just create a separate file like `test-utils.js` and include it from each test.

[code]

[2015-03-16 10:27] honzatrtik opened #65 "Please, update deps to React 0.13"

[2015-03-16 12:10] Tvaroh commented on #65
Will release 0.8 series today.

[2015-03-16 13:48] Tvaroh commented on #65
0.7.11 published.

[2015-03-16 13:48] #65 closed

[2015-03-16 13:51] Tvaroh commented on #60
@jbe456, closing this for now. Feel free to re-open if needed.

[2015-03-16 13:51] #60 closed

[2015-03-17 13:15] dfguo commented on #59
works! thanks!

[2015-03-18 05:59] dfguo commented on #13
+1, do we have a working example on this? Thanks!

[2015-03-20 21:46] robertfw opened #66 "Readme says morearty requires React >0.12, but package.json requires >0.13"
Ran into some problems installing as I have some dependencies (namely react-router) that don't yet support 0.13.

[2015-03-20 21:48] Tvaroh commented on #66
@robertfw, you can use 0.7.10 version for now, it depends on React 0.12.

[2015-03-23 22:35] robertfw opened #67 "Bootstrap function supports passing in custom context, but does not support adding the required childContextTypes declaration"
Trying something like...

[code]

Will result in:
[code]

I am currently just making my own bootstrap, but a simple fix would probably look something like:
[code]

I forked and was going to send in a PR but couldn't figure out how to build the project to test the change.

[2015-03-24 04:12] kapooostin commented on #67
There is a ```scripts``` section in ```package.json```.

[2015-03-24 06:12] Tvaroh commented on #67
@robertfw, with current React approach to context, you need to define a wrapper component with `getChildContext` and other methods defined. Search Morearty source for `getChildContext`/`childContextTypes`.

[2015-03-24 19:16] robertfw commented on #67
@kapooostin thanks, I missed that.

@Tvaroh from what I see/understand, for context.bootstrap to accept additional context via ```reactContext```, it must also add the corresponding definition in it's own childContextTypes.

I am trying a different approach with Morearty sitting behind a flux store  (I am using Fluxxor, specifically), so for now this isn't an issue for me, but I wonder if others m

[2015-03-24 19:28] Tvaroh commented on #67
@robertfw, previously, Morearty was using now deprecated React's `withContext` approach that was easier to use and required less ceremony. But now all this `childContextTypes` stuff is required.

[2015-03-27 16:10] gilbox commented on #58
I linked to a gist above and said that it worked with a mixture of both immutable and non-immutable objects. That turns out to be false, it will automatically convert non-immutable data to immutable when decoded. Here is a version that does work with mixed data:

https://gist.github.com/gilbox/a7ff39cb75796c4413cb

[2015-03-30 21:52] jbe456 commented on #61
Well I guess with the new way of defining React context in 0.13 (where we have to wrap the component into a class with a `getChildContext` method), this issue is not relevant anymore.

[2015-03-30 21:52] #61 closed

[2015-03-30 22:00] jbe456 opened #68 "Morearty tests trigger error logs"
Running the Morearty tests locally, I have the following logs:
[code]

This is because you import `React` before settings the global `window` and `document` variables.

In `Morearty.js` for example, you do it correctly line 14 :
[code]

BUT you import `Morearty` (https://github.com/moreartyjs/moreartyjs/blob/master/test/Morearty.js#L6) which requires internally `React` : https://github.com/moreart

[2015-03-31 08:03] Tvaroh commented on #68
@jbe456, could you make a pull request which fixes this problem? I saw that error but couldn't wrap my head around it.

[2015-04-01 18:01] cesarp opened #70 "Morearty v0.7.13 is missing the index.js file when doing npm install"
We were doing npm install in a new project that has morearty version as ~0.7.12 in its package.json file and it installed 0.7.13 which was just released and the build failed.

Webpack said *Error: Cannot resolve module 'morearty' in...* after looking inside our node_modules/morearty folder we noticed that the index.js file is missing in 0.7.13. After installing 0.7.12 everything worked again.

[2015-04-01 18:17] Tvaroh commented on #70
I encountered this before, this is probably some NPM bug since index.js is in place. Published 0.7.14. Thanks for the report.

[2015-04-03 14:10] #70 closed

[2015-04-03 14:10] #66 closed

[2015-04-06 02:59] gilbox commented on #63
I implemented [a much simpler solution to updating components with OBs](https://github.com/gilbox/moreartyjs/commit/51f553d59d37b30924cc548452dda8422c9d5d85). I feel like there must be something wrong with it because it seems too obvious a solution, but I don't know what that might be. It is much simpler than the Om method I described above.

Here is the gist of it:

- Add a property to Context `_

[2015-04-06 13:34] Tvaroh commented on #63
@gilbox, sounds nice. One question: does this prevent double-or-more-render when components A -> B -> C -> D from the same hierarchy use observed bindings? Won't it call `forceUpdate` on A, then on B, and so on, causing component D to re-render 4 times?

[2015-04-06 15:37] gilbox commented on #63
Good point @Tvaroh I think that the way to deal with this is call SCU before `#forceUpdate` ([Om does this](https://github.com/omcljs/om/blob/master/src/om/core.cljs#L1157)) ... but I don't really understand how to ensure that subsequent calls to SCU can return false. Ie, two subsequent calls to SCU currently both return `true`.

[2015-04-06 19:02] Tvaroh commented on #63
Gil, how do React's component ids look like?

[2015-04-06 19:07] gilbox commented on #63
something like `.j20dj309j3` but they are not unique per component, only per dom node that's why I had to create my [own id generator](https://github.com/gilbox/moreartyjs/commit/0db3304510857eb43c1361cc782002f0c1465d33#diff-964ba8158b899e0a296ee0ce9dbc7d85R453)

[2015-04-07 02:42] gilbox commented on #63
It seems that the following methods are returning `true` even after render. Any idea how to fix this?

[code]

[2015-04-08 05:28] gilbox commented on #63
[Another idea](https://github.com/gilbox/moreartyjs/commit/3305cf252416d8eefaab32d04fdb5cd97be596d8)...

I haven't considered all edge cases, but I am relying on parent element always having lower index in `_componentQueue` than child. When this is the case, we can

               delete ctx._componentQueue[this.componentQueueId];

in SCU to prevent double-render. Child removes itself from the que

[2015-04-09 13:36] Tvaroh commented on #63
@gilbox, could you detail the algorithm in steps?

[2015-04-09 18:30] gilbox commented on #63
- In `#componentWillMount` every component is assigned a unique *component id*, ie., index via `Context#getUniqueComponentQueueId`. The app's `Context` instance keeps track of the last index. It should be guaranteed that a child id is always higher than a parent id, this becomes important later on.

- Every time an observed binding is registered (via Morearty's `#observeBinding`) inside of a compo

[2015-04-10 14:01] Tvaroh commented on #63
Gil, can some component be double rendered first from OB processing stage and then from general `rootComp.forceUpdate()`?

[2015-04-10 14:30] gilbox commented on #63
In my experiments that is not the case. Ie.,

`SCU` => `render()` => `SCU`  ----> `true` => `render()` => `false`

For this reason, anything that gets forceUpdate during OB processing stage will not be rendered as a result of `rootComp.forceUpdate()`

I believe that the UT "should always re-render when observed binding changed" proves this correct.

[2015-04-10 14:34] Tvaroh commented on #63
Cool, could you review the code and make pull request? Then I will also analyze it for corner cases.

[2015-04-10 15:10] gilbox commented on #63
I realized that my last response maybe contradicted what I said earlier. I'll experiment with some more tests to see if I can get the algorithm to double-render.

[2015-04-10 16:29] gilbox commented on #63
I was able to modify a test to cause double-render in the case you described. I fixed it with [additional bookkeeping](https://github.com/gilbox/moreartyjs/commit/edb8359140d7b253fc84c2554b1258d709adaa59).

Btw, I am running tests on react .12 because with .13 I get errors related to test bootstrapping.

[2015-04-10 16:31] Tvaroh commented on #63
Hm, current tests work okay with React 0.13. Do you have something specific in your tests? Maybe try to remove *node_modules* and `npm install` from scratch?

[2015-04-10 16:46] gilbox commented on #63
Do you mean you get these errors but it's okay because the tests still pass?

[code]

[2015-04-10 16:50] Tvaroh commented on #63
Yep, but that error appears IIRC in single test. Am I wrong?

[2015-04-10 16:52] Tvaroh commented on #63
Hm, I am wrong. With React 0.13 it appears many times.

[2015-04-10 18:41] gilbox commented on #63
I think that the problem is that React is loading before `global.window` is created.

[2015-04-10 19:55] gilbox commented on #63
Here's my branch fixing those UT errors. However, there are still some other non-related errors.

This one is troubling although the test runner still reports that all tests pass:

[code]

[2015-04-10 21:20] Tvaroh commented on #63
Cool! I will look into that assertion error tomorrow.

[2015-04-11 04:19] gilbox commented on #63
Question --

[code]

Instead of checking context._previousState, why not compare the previous and current binding's reference to Immutable object ?

[2015-04-11 06:13] Tvaroh commented on #68
Tests are now fixed in master.

[2015-04-11 06:13] #68 closed

[2015-04-11 06:14] Tvaroh commented on #63
Gil, I ported your tests fixes into master and removed that wrong assertion. Regarding your last question - I can't answer immediately, need to check.

[2015-04-11 17:57] gilbox commented on #63
Re: gilbox-ob-queue-simplified ... If a user defines `shouldComponentUpdateOverride`, it's possible that component._previousState will not really represent the previous state. For example:

    // define shouldComponentUpdateOverride:
    SCUO = (SCU) => return SCU() && this._meaninglessIndex === 0;

    // initial value of binding passed into the component
    // binding.get() === 'foo'
    bindi

[2015-04-12 12:44] Tvaroh commented on #63
I think less surprises is better, so let's incorporate this.

[2015-04-14 02:00] gilbox opened #75 "Immutable Bindings?"
Any thoughts on immutable bindings? It would be a huge refactor, but I think that a lot of the complexity of SCU, and the rendering algorithm in general comes from the fact that bindings themselves are mutable.

[2015-04-14 10:47] Tvaroh commented on #75
Gil, what's the use case for such bindings? Bindings are by nature mutable. Immutable data can be passed to components directly in props.

[2015-04-14 15:20] gilbox commented on #75
I just think it would simplify the internals of Morearty. Like you said, bindings can then simply be passed as props and SCU becomes almost as simple as the PureRenderMixin. No longer any need for special handling for observed props. And I think observed bindings become much simpler as well because there is no longer a need for `savePreviousState`.

It's not an original idea. Omniscient uses immut

[2015-04-15 11:15] Tvaroh commented on #75
Gil, I didn't use Omniscient, could you provide an example? Are immutable bindings an addition for ordinary bindings, or a replacement? How one would change state that is mutable by nature using immutable bindings? What concretely is immutable in immutable bindings?

[2015-04-15 15:54] gilbox commented on #75
I've never used omniscient either, but it's an interesting project...

The idea is that any `set` or `update` operation on a binding would return a new cursor. [From their docs:](http://omniscientjs.github.io/guides/02-editing-using-immutable-cursors-with-omniscient/)

[code]

They are a replacement

I don't think I understand this question. Do you mean that the state of the binding itself is muta

[2015-04-15 15:55] gilbox commented on #63
I think this is ready.

[2015-04-15 16:11] Tvaroh commented on #63
Published as part of *0.7.15*. All credits to Gil!

[2015-04-15 16:11] #63 closed

[2015-04-20 18:57] gilbox opened #77 "0.7.15 OB Bug"
:-1: Bad news -- There's a bug related to the OB changes in `0.7.15` that I'm still trying to fix.

:+1: Good news -- the bug seems to be related to using `this.setState(..)` in a Morearty-managed component which isn't something we should be doing anyway. I thought that my use-case was special and using setState was OK, but after removing all `setState` calls and re-evaluating the code I don't thi

[2015-04-22 12:54] Tvaroh commented on #77
Gil, do you have a failing test case for this?

[2015-04-30 13:05] Tvaroh commented on #77
@gilbox, any updates on this problem? Can I be helpful?

[2015-04-30 20:35] mrjjwright opened #78 "Test with JSDom"
Hi, great lib!  I am testing with mocha and jsdom.  I am not getting any render triggered on updating a binding.  I know Morearty uses `setTimeout` if `requestAnimFrame` is unavailable, which it would be in jsdom.  This should be working right?   Is there any other reason it wouldn't be working, it works in the browser.

[2015-04-30 20:39] gilbox commented on #77
Been too busy to look at it :-/ .... hopefully soon. I think what we need is to construct a test that uses `this#setState` and/or `this#forceUpdate` and breaks the OB update mechanism. The bug I encountered resulted in a missed `render()`. However, it was too complicated to really nail down the reason for it. All I know is that it worked in 0.7.14 but not 15. However, it did work in 15 after I ref

[2015-04-30 20:41] gilbox commented on #78
Maybe this is a dumb question, but are you using an asynchronous test? Otherwise the test will end before render() happens.

[2015-04-30 20:45] mrjjwright commented on #78
No I am not, this is my first day in Mocha.  I am sorry for the false alarm.  I will look up the docs on that. :)

[2015-04-30 20:45] #78 closed

[2015-05-02 05:23] gilbox commented on #77
Closing this after I spent some time trying to create a unit test that would fail. Hopefully I was confused and there is no bug.

[2015-05-02 05:23] #77 closed

[2015-05-02 07:21] Tvaroh commented on #77
Cool. :)

[2015-05-03 10:21] gilbox opened #79 "Inputs not fully controlled"
Something that's been bugging me lately is that Morearty inputs are not fully controlled. For example, if I want to limit a text input to 10 characters the following won't work because the binding won't trigger an update when the `slice`ed value doesn't change:

[code]

The work around I'm using looks like this:

[code]

It would be nice if Morearty would automatically perform a `forceUpdate` on t

[2015-05-04 03:16] gilbox commented on #75
having second thoughts

[2015-05-04 03:16] #75 closed

[2015-05-05 00:10] gilbox commented on #79
Here's one way to achieve this. I haven't tested this yet, just illustrating the idea...

https://github.com/gilbox/moreartyjs/commit/4ab9edf7c2d9aec889cfb18ae799f5b0c2ae36d1

[2015-05-05 03:58] gilbox commented on #79
Looked at this some more. It's actually tricker than I thought to bake it in this way.

[2015-05-06 02:02] gilbox commented on #79
I ended up just coming up with my own [wrapComponent fn](http://jsbin.com/yilote/1/edit?js,output).

[2015-05-06 02:02] #79 closed

[2015-05-06 21:11] Theadd opened #81 "Working with history"
You're really doing a great job! :100:
Working with the tree of state bindings was... ok, but by just writing a ~couple more lines to work with the history module was awesome!

Could it be possible to _stack|group|merge|remove|*_ some points of state in history so when calling undo/redo it treats those states as a single one instead of iterating each one for every history call?

Maybe by disabling

[2015-05-07 06:03] Tvaroh commented on #81
Hello.

If I understood correctly, you need to consider some set of changes as an atomic single history record. Doesn't putting those changes in a single transaction give that behavior?

[2015-05-07 06:44] Theadd commented on #81
let me try it in a couple of hours. I did not imagine that an atomic transaction could be started in one component render method and commited in a nested different one.

[2015-05-07 06:46] Tvaroh commented on #81
Yep, it should be possible. Not sure how convenient it is though.

[2015-05-07 09:35] Tvaroh commented on #81
@Theadd I re-thinked your problem and looks like I was wrong. If you don't commit transaction, components down won't be rendered.

[2015-05-07 09:47] Theadd commented on #81
well, I've used forceUpdate() + observedProps (passing the transaction context as prop) but since I don't commit that transaction, the default binding in nested components does not reflect those changes so nested components doesn't even need to update.

I might have to refactor that part a little bit to be able to update the binding within the same component.

[2015-05-07 09:47] #81 closed

[2015-05-21 16:58] gilbox opened #82 "React Warning when remove() OB in componentWillUnmount"
Is this a bug?

[code]

[code]

we could fix this by checking c.isMounted() in the render function but is this a case where the correct thing to do is the second approach?

[2015-06-07 19:15] Kineolyan commented on #67
Hello everyone,

@robertfw since the issue is not closed yet, would it be possible to also add support for additional props to the elements ?
Something like:
[code]

I read few thing about context, but I think that this simple use would also be interesting. Yet, I'm still new at React.
Bye

[2015-06-09 07:04] valff opened #83 "Update queue introduced in 0.7.15 completly broke my application"
When upgrade from 0.7.14 to any version up to 0.7.17, I get a lot of such warnings in console:

    "Warning: forceUpdate(...): Can only update a mounted or mounting component. This usually means you called forceUpdate() on an unmounted component. This is a no-op."

Application components are not updated, or updated with delay in unpredictable manner. I suppose this breaking changes is caused by t

[2015-06-09 08:52] Tvaroh commented on #83
@valff, it's hard to diagnose such a problem without details. Can you paste a minimal failing code example, please?

[2015-06-09 08:54] Tvaroh commented on #67
@Kineolyan, as an alternative you can wrap your root component into another component and pass all required props right there. Does it solve your use case?

[2015-06-09 15:56] Tvaroh commented on #13
Here is some [gist](https://gist.github.com/CptLemming/a9292f95db799f11541d) which seems to work.

[2015-06-09 18:00] Tvaroh commented on #13
I've created react-hot-boilerplate based [example](https://github.com/Tvaroh/morearty-react-router) ported from the above gist.

[2015-06-09 19:12] #13 closed

[2015-06-09 21:19] Kineolyan commented on #67
Hello @Tvaroh, yes I updated the bootstrap method to include properties updates inside but I think I ended up with issues.
I will retry it soon and keep you updated.

[2015-06-10 08:15] valff commented on #83
Ok, I fixed my own bugs, which were unapparent in 0.7.14. Application is no longer broken, but still showing warnings in console.

Here is the [example](https://gist.github.com/valff/b613aba5db099a0000fe) (click more than 2 times).

[2015-06-10 08:20] Tvaroh commented on #55
Thank you, guys. :dancers:

[2015-06-10 08:20] #55 closed

[2015-06-10 08:22] #47 closed

[2015-06-10 08:22] #59 closed

[2015-06-10 08:41] Tvaroh commented on #82
Gil, sorry for long response. A similar issue reported here #83. You're right, `isMounted` check is required, like on root component. Will add one.

[2015-06-10 09:10] Tvaroh commented on #83
Added check to prevent warning in `0.7.18`. Thank you, @valff!

[2015-06-10 09:10] #83 closed

[2015-06-10 09:10] Tvaroh commented on #82
Added check to prevent warning in `0.7.18`.

[2015-06-10 09:10] #82 closed

[2015-06-10 09:52] valff opened #84 "isMounted() and ES6 classes"
I'm using Morearty with React.Component, and version 0.7.18 is not working for me. This is my console output:

    "Warning: isMounted(...) is deprecated in plain JavaScript React classes. Instead, make sure to clean up subscriptions and pending requests in componentWillUnmount to prevent memory leaks."
    "Morearty: render error. Continuing."
    "Error details: comp.isMounted is not a function"

[2015-06-10 10:04] Tvaroh commented on #84
Interesting! Will see how to fix that.

[2015-06-10 10:07] valff commented on #84
Created workaround:

[code]

[2015-06-10 10:11] Tvaroh commented on #84
Related React issue: https://github.com/facebook/react/issues/3417

[2015-06-11 17:47] Kineolyan commented on #67
Hi @Tvaroh, yes, it is also possible to wrap the root into another component, having the proper properties. I was _"polluting"_ this open issue to also offer my little improvement.
I effectively changed the boostrap method to include additional properties.
Thanks for previously answering.
Bye

[2015-06-11 17:51] Tvaroh commented on #67
@Kineolyan, no problems, your input is absolutely welcome! :)

[2015-06-11 17:51] #67 closed

[2015-06-14 15:09] Tvaroh commented on #84
@valff, btw how do you attach Morearty mixin when using React.Component?

[2015-06-14 16:58] valff commented on #84
I tried to simulate behaviour of [ReactClass](https://github.com/facebook/react/blob/master/src/isomorphic/classic/class/ReactClass.js). Here is my [implemetation](https://gist.github.com/valff/c6f82fe817dbf6f856e8). Didn't properly tested yet, but it works for me.

Attaching mixin to root component:

[code]

[2015-06-16 21:55] valff opened #85 "Random binding listeners are removing on unmount"
https://github.com/moreartyjs/moreartyjs/blob/master/src/Morearty.js#L702
This chunk of code seems not working as intended. Listeners are not removing properly. Moreover, because listener ids are incremental, random listeners for default binding may be removed. Therefore I think this is highly critical issue.

[2015-06-17 04:48] Tvaroh commented on #85
Thanks, will look into this asap.

[2015-06-18 07:25] Tvaroh commented on #85
@valff, could you please clarify why listener aren't removed properly? And why random listeners may be removed?

[2015-06-18 11:54] valff commented on #85
@Tvaroh, because all listeners are removed from one default binding, not from binding, to which they are attached. And random listener may be removed, because listener ids may be collided for two distinct bindings.
I propose to store listener remover closures instead of `_observedListenerIds`. Should I make pull request?

[2015-06-18 13:41] valff commented on #85
I see this was a regression from 0.7.15. Will create pull request soon.

[2015-06-18 16:07] Tvaroh commented on #85
@valff, thank you so much! Just merged the code. Awesome!

[2015-06-18 16:14] Tvaroh commented on #85
Does current behavior cause some problems?

[2015-06-18 18:48] valff commented on #85
Thank you for merging! I found that `addBindingListener` have similar problem when listening to other than default binding. It has strange implementation, and I want to fix it.

Have a question about `shouldRemoveListeners()`, why we ever need it? If I don't want listerers to be removed, I use `binding.addListener(...)` instead. I propose to remove this method from API.

[2015-06-19 04:21] Tvaroh commented on #85
Regarding `shouldRemove listeners`, it protects from cases when multiple components bind to same state section.

[2015-06-19 04:23] Tvaroh commented on #85
Regarding `addBindingListener` - yep, looks like it needs to be fixed too.

[2015-06-19 04:43] Tvaroh commented on #85
@valff, in which situation listener ids may collide? IIRC, this should be avoided.

[2015-06-19 06:51] valff commented on #85
What happens when multiple components bind to same section? Isn't it safe to add listeners at the same binding, and removing them independently?

Listener ids may collide in normal and meta bindings. They are not share `_sharedInternals`.

[2015-06-19 10:24] Tvaroh commented on #85
I see. That's what should be fixed. We're following the wrong path.

[2015-06-19 10:24] Tvaroh commented on #85
Will look into PR a bit later.

[2015-06-19 10:52] valff opened #89 "Components with observed bindings are not receiving new props"
Opening this new issue, because #86 is probably wrong. The issue is not primarily in render order, but in receiving new props from parent component. Not sure how to fix it properly, please see the updated test case.

[2015-06-20 01:48] dfguo opened #90 "console.error messages to exception reporter?"
console.error when morearty has some issue rendering is super useful when in development mode, but in production, we actually want to use exception reporting services like Bugsnag or Errorception to catch these errors. However, these services don't report console.error messages; they only report exceptions.

I'm trying to understand what's the best way for me to get Errorception report the excepti

[2015-06-21 16:38] mbektimirov commented on #90
As I know, window.onerror handler could track all exceptions globally on the page. If doesn't solve your problem, ping us again.

[2015-06-23 11:07] dfguo commented on #90
onerror handler doesn't take care of ```console.error```

[2015-06-23 12:15] Tvaroh commented on #85
@valff, regarding `shouldRemoveListeners`.

Two components on a page bind to the same state section, and one of them uses `addBindingListener`. What if another component is removed from the page? Without `shouldRemoveListeners` it would remove listeners attached to the first component as well (since bindings bound to same path are same object instance).

[2015-06-23 12:20] Tvaroh commented on #85
@valff, regarding `shouldRemoveListeners`: with your updated implementation this check may be safely removed. Just did it. Thank you!

[2015-06-23 12:29] Tvaroh commented on #89
I suppose update props cannot be known without rendering the parent, and probable parent's parent, and so on. We may render from the top first, and then render observed bindings, as you suggested. The downside is probably worse performance. What do you think, @gilbox?

[2015-06-23 12:35] Tvaroh commented on #89
We also might add a component property to signal that component isn't interested in props updates. This would solve a case when a single observed binding backed components changes deep inside the hierarchy and we want to skip redundant re-rendering from the top.

[2015-06-23 14:05] Tvaroh commented on #89
So, the new syntax is:

[code]

'Render-first' bindings will be rendered before top-down rendering. Ordinary observed bindings will be rendered last.

[2015-06-23 14:08] Tvaroh commented on #89
So, the new syntax is:

[code]

'Render-first' bindings will be rendered before top-down rendering. Ordinary observed bindings will be rendered last. Still thinking if this could be improved.

[2015-06-23 14:41] Tvaroh commented on #89
After some experiments I realized that it's all redundant. Let top-down rendering be the first and all optimizations left for direct React's component API manipulations.

[2015-06-23 14:57] Tvaroh commented on #85
Release in `0.7.21`.

[2015-06-23 14:57] #85 closed

[2015-06-23 14:57] Tvaroh commented on #89
Released in `0.7.21`.

[2015-06-23 14:57] #89 closed

[2015-06-23 14:58] Tvaroh commented on #90
@dfguo, how other libraries cope with this?

[2015-06-23 16:43] gilbox commented on #84
My understanding is that isMounted check was a convenience, not a necessity. So, it should probably be removed unless we can convince React team it's worth not deprecating.

[2015-06-23 16:48] gilbox commented on #89
If I understand correctly, when you combine side-loading via observed bindings and top-down-loading via props then components must be rendered top-down otherwise a component that is force-rendered might use old props. However, I'm not sure if your fix completely handles this case. More specifically, in the following loop:

[code]

isn't it possible for the components to be rendered out-of-order?

[2015-06-23 17:01] Tvaroh commented on #84
Removing `isMounted` will pollute console with warning.

[2015-06-23 17:02] Tvaroh commented on #89
Regarding your example, probably you're right.

[2015-06-24 07:55] gilbox commented on #89
Thought about this some more.

I think I was wrong. I forgot that the component queue is ordered by componentQueueId and higher id's are always children of lesser ids.

https://github.com/moreartyjs/moreartyjs/blob/master/src/Morearty.js#L182

[2015-06-24 09:56] Tvaroh commented on #89
Nice! I was thinking similarly.

[2015-06-25 13:00] dfguo commented on #90
Hi @Tvaroh I have looked around and didn't find much useful information. Why did we use console.error in the first place? It is to log the error while not interrupt the rendering? For now, I hijacked console.error.

[2015-06-26 06:22] Tvaroh commented on #90
Yep, it's just to log an error and continue. Is there a better way?

[2015-06-30 13:34] dfguo commented on #90
@Tvaroh I don't know any other way too, honestly. Hijacking it works fine for me, so I'm closing the issue now.

[2015-06-30 13:34] #90 closed

[2015-07-01 17:53] gilbox opened #91 "observedProps pitfall?"
I wonder if all props should be observed by default and instead you would have to specify something like `staticProps` to exclude props from being observed. React's default behavior is to re-render on any prop change so perhaps morearty should do the same.

[2015-07-01 18:06] Tvaroh commented on #91
Nice idea, Gil.

[2015-07-04 03:13] gerherz opened #92 "ES6 and Mixins"
Using React components as ES6 classes, it's not possible to use mixins:

Is it possible to use morearty.js with ES6 classes? If not, are you planning to implement this in the near future?

[2015-07-04 06:45] Tvaroh commented on #92
@gerherz, actually, I don't know but there is some related discussion in #84.

[2015-07-08 12:46] Pierrickouw commented on #92
@gerherz I am currently doing it with [react-mixin](https://github.com/brigand/react-mixin).

Something like that:
[code]
You can do this in all your components or use it as a base component and then extend from here.

I don't know if there is a better way, but this is a workaround if you want to use morearty and ES6 class.

[2015-07-08 14:26] gerherz commented on #92
Great, I didn't know the react-mixin library. Thanks!

[2015-07-08 14:26] #92 closed

[2015-07-12 14:03] eguneys opened #93 "Observed property change doesn't trigger rerender"
I use react-dnd and I have a droptarget component:

[code]

When I drag the item over drop target, it calls the `hover` function and I set a binding inside it.

I expect it to cause a rerender but it doesn't render.

However if I explicitly add a change listener it is called.

[2015-07-12 14:58] Tvaroh commented on #93
Hello.

Didn't dig too much, but I don't see `observedProps` property defined in your code.

[2015-07-12 15:17] eguneys commented on #93
I am using [observed bindings](https://github.com/moreartyjs/moreartyjs/wiki/Authoring%20components#using-observed-bindings), I don't use any props do I have to use them?

[2015-07-12 15:38] eguneys commented on #93
Actually I can't use mixins in es6, I tried this solution https://github.com/moreartyjs/moreartyjs/issues/92, but I can't get morearty work with my components why?

[2015-07-12 16:11] eguneys opened #94 "Can't get it working with ES6 classes"
I've tried react-mixin but it didn't work:
[code]

[2015-07-12 18:30] Tvaroh commented on #93
Observed bindings are not observed props. That's why I asked: topic is misleading.

[2015-07-12 18:31] Tvaroh commented on #93
It's hard to tell something based on your code. Minimal reproducing runnable example, e.g. on jsfiddle. would be helpful.

[2015-07-12 19:33] eguneys commented on #93
Good documentation too much trouble though, I switch to redux which is way more awesome than this.

[2015-07-12 19:33] #93 closed

[2015-07-15 14:01] Pierrickouw commented on #94
Have you tried:

[code]

[2015-09-10 23:13] Cyberzwerg opened #97 "Make docs noob friendlier"
Hey guys,
I just got started using moreartyjs and I will not lie, it's been rough getting started.

The docs are very unclear for beginners and the TodoMVC app is built way to complicated. This might just be me, but I just struggled for about an hour with the fact that if I do binding.set("data",somethingIPulledFromARestAPI) it will not allow me to create subs from it since it it's not an immutabl

[2015-09-12 18:41] Tvaroh commented on #97
Hello, @Cyberzwerg.

I agree with you regarding auto-conversion to and from Immutable stuff. Need to check all corner cases though. PRs are welcome, by the way. :)

[2015-09-13 08:47] Cyberzwerg commented on #97
BTW. Is there a way to access the context via the browser console? I might build a little dev-tool which allows to observe the Morearty Context...Debugging is kinda inconvenient at the moment..

[2015-09-27 10:56] dfguo commented on #84
I'm still seeing this problem. Any updates on this? Thanks!

[2015-10-17 09:43] Cyberzwerg commented on #44
After using for quite some time now I gotta say that this is by far my favourite way of writing apps so far! I didn't know Immutable data-structures are so nice to work with! I freaking love this project! Thanks to you guys!

[2015-10-21 02:50] jackyon commented on #84
hm... I'm also looking for this, anyone have solution?

[2015-11-02 19:12] Cyberzwerg opened #99 "React native - Text Input not working"
Hey,
just tried using a TextInput while binding to Morearty. This failed with similar effects like using DOM inputs without Morearty.DOM and after an hour of trying I manged to come up with a solution.

 It's weird, but it works.

What I did was create a new React Class: (Syntax is CJSX)

[code]

The weird part is the fact that the state of the component is null when it is mounted. Never happend t

[2015-11-12 18:08] Download commented on #13
@Tvaroh Unfortunately `react-router` changed it's API... The example is not working anymore with the 1.0 version.

I added this issue to the example project:
https://github.com/moreartyjs/morearty-react-router/issues/1

[2015-11-13 14:47] Download commented on #49
But why though? Have you looked at [RawGit](http://rawgit.com/)? I am using it and I think it works quite great. I just release my code right here on github an *blam* it's on RawGit as well.

[2015-11-13 16:05] mbektimirov commented on #49
https://npmcdn.com/

[2015-11-13 20:45] Download commented on #49
@mbektimirov That's cool stuff I hadn't seen that before. So Morearty is already on 2 CDNs!  :)

[2015-11-13 21:23] cassidoo commented on #84
Also looking for this. :/
Would love to have a solid workaround.

[2015-11-14 15:10] jackyon commented on #84
isMounted() isn't available
If you'd used isMounted() then this isn't availabe on ES6 classes extended from Component. If you really need it you can set a flag in componentDidMount and unset it again in componentWillUnMount.

[2015-11-26 20:17] mbektimirov opened #100 "Newly created state keys are not catching in binding listener"
Initial state:
[code]
[code]
The problem line is [here](https://github.com/moreartyjs/moreartyjs/blob/master/src%2FBinding.js#L68), new key is just slicing out for the sake of proper list render as @tvaroh said. Need to move that slicing part to render.

[2015-12-01 02:24] gerad opened #101 "binding.get('') returns the same value as binding.get()"
Calling `binding.get('')` (with an empty string) returns the same value as `binding.get()` - the value of the binding at the root path

Instead, I would expect to return the value of the binding with the empty string subpath.

https://jsfiddle.net/npsdsum6/

![create a new fiddle - jsfiddle 2015-11-30 18-23-39](https://cloud.githubusercontent.com/assets/27563/11490657/8d7205d8-978f-11e5-9aa3-2a730

[2015-12-01 04:14] Tvaroh commented on #101
I think this is as expected. Why would you need empty string keys?

[2015-12-01 06:49] gerad commented on #101
It's more the absence of the empty string key we were counting on… our data structure was something like this:

[code]

and we checking whether the key was present in the data structure before doing some logic

[code]

the logic broke when a blank string key was passed

[2015-12-01 17:05] mbektimirov commented on #101
Use `getIn` on immutable object:
[code]

[2015-12-01 17:06] #101 closed

[2016-06-20 14:40] alexeits opened #102 "Ability to report render errors to trackers"
Render errors are currently logged only in the console. In order to get telemetry in production there should be a way to configure a logger that would report errors to an error tracking service, e.g. GetSentry, Rollbar, etc.

[2016-08-31 07:10] mkopylec opened #105 "Binding access in render function - question"
Hi, I am new to React and MoreartyJS.
Is there any way to access the binding in components `render` function?
If no, how can I make the `render` function to be dependent on binding?

[2016-08-31 07:15] ElectricCookie commented on #105
You simply include the Morearty Mixin in your Component and then call `this.getDefaultBinding()`. I haven't had a look at morearty for ages, not to disencourage you from using it, but there's some newer implementations of architectures like Redux, which are way better documented, but require a little bit more work than Morearty. Anyways good luck with React & Morearty!

[2016-08-31 13:23] mkopylec commented on #105
Thanks for your answer, I solved my problem by passing `binding` property to nested React components.

[2016-08-31 13:23] #105 closed, assigned to nobody

[2017-01-01 14:27] wertlex opened #106 "Is project dead?"
Subj.

[2017-01-01 14:58] Tvaroh commented on #106
Yes, I would say so.

[2017-01-01 18:36] wertlex commented on #106
@Tvaroh sounds sad

[2017-01-01 19:03] Tvaroh commented on #106
I think current de-facto solution is Redux.

[2017-01-02 07:09] wertlex commented on #106
@Tvaroh what about https://github.com/Yomguithereal/baobab ? It seems to be much closer solution to morearty.

[2017-01-02 07:13] Tvaroh commented on #106
@wertlex I don't know. I do program in Scala these days and don't follow JS libraries. I would use something Scala.js based for the frontend when needed for sure.

[2018-10-26 09:22] farshidshahmoradi1996 commented on #84
I have same Problem on using react-native-router-flux :/ any response??